{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% block add %}
  {% endblock add %}
  <title>PharEase</title>
   
</head>
<body>
    <div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a><a href="/"class="brand-logo">
            <i class="	fa fa-hospital-o"></i> 
            <span>PharmEase</span></a></header>
            {% if request.user.is_staff %}
            <nav class="dashboard-nav-list "><a href="/" class="dashboard-nav-item "><i class="fa fa-home "></i>
                Home </a><a
                    href="/employee" class="dashboard-nav-item "><i class="fa fa-male"></i> Employees
            </a><a
                    href="/drugs" class="dashboard-nav-item"><i class="fa fa-list"></i> Drugs </a>
                    <a
                    href="/distributor" class="dashboard-nav-item"><i class="fa fa-id-card-o"></i> Distributer </a>
                    <a
                    href="/bill" class="dashboard-nav-item"><i class="fa fa-money"></i> Billling </a>
                <a href="/user" class="dashboard-nav-item "><i
                        class="fa fa-users"></i> Users </a>
                   
              <a
                        href="/logout" class="dashboard-nav-item"><i class="fa fa-sign-out"></i> Logout </a>
            </nav>
            {% else %}
            <nav class="dashboard-nav-list "><a href="/" class="dashboard-nav-item "><i class="fa fa-home "></i>
                Home </a>
                    <a
                    href="/bill" class="dashboard-nav-item"><i class="fa fa-money"></i> Billling </a>
                <a href="/editUser/{{request.user.username}}" class="dashboard-nav-item "><i
                        class="fa fa-users"></i> My Profile </a>
                   
              <a
                        href="/logout" class="dashboard-nav-item"><i class="fa fa-sign-out"></i> Logout </a>
            </nav>
            {% endif %}
      
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fa fa-bars"></i></a></header>
    {% block content %}{% endblock %}
</div>
</div>
<script type="text/javascript">
    setTimeout(function () {
        $('#alert').alert('close');
    }, 3000);

  $('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})



</script>

{% block addjs %}
{% endblock addjs %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'node_modules/vanilla-tilt/dist/vanilla-tilt.js' %}"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>