{% extends "base.html" %}
{% block add %}
<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" >
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js " defer ></script>
<script>
    $(document).ready(function () {
$('#table_db').DataTable();
});
</script>
  {% endblock add %}
{% load static %}
{% block content %}
<div class="m-2">
    <a href="{% url 'insertDrg' %}" class="btn btn-secondary">New Medicine</a>
</div>
<div class="container container-fluid">
<table id="table_db" class="table table-bordered table-hover" style="width: 100%">
    <thead>
        <tr>
          <th scope="col">Medicine ID</th>
          <th scope="col"> Medicine Name</th>
          <th scope="col">total stock</th>
          <th scope="col">Price</th>
          <th scope="col">Distributor</th>
          <th scope="col" >Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for result in data %}
      <tr>
      <td>{{result.dg_id}}</td>
      <td>{{result.dgname}}</td>
      <td>{{result.stock}}</td>
      <td>{{result.price}}</td>
      <td>{{result.dist_id}}</td>
    
      <td><a href="editDrg/{{result.dg_id}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
      <td><a href="deleteDrg/{{result.dg_id}}" onclick="return confirm('Are you sure you want to delete?')"><i class="fa-solid fa-trash"></i></a></td>
      </tr>
      {% endfor %}
      </tbody> 
  </table>
</div>
{% endblock content %}