{% extends "base.html" %}
{% load static %}
{% block content %}
<a href="{% url 'employee' %}">Go to home </a>
{% if messages %}
{% for mess in messages %}
<div class=" m-2 alert alert-success alert-dismissible fade show"  id="alert" role="alert">
  <b style="color:green;">{{mess}}</b>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}


<form class="container" method="POST"  action="/updateEmp/{{EmpModel.e_id}}">
{% csrf_token %}
<div class="form-group">
    <label for="exampleFormControlInput1" >Edit Employee Name</label>
    <input type="number" class="form-control" name="empname" id="exampleFormControlInput1" value="{{EmpModel.e_id}}" placeholder="id ">
  </div>
<div class="form-group">
  <label for="exampleFormControlInput1" >Edit Employee Name</label>
  <input type="text" class="form-control" name="empname" id="exampleFormControlInput1" value="{{EmpModel.empname}}" placeholder="JohnWick">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1" >Enter Email</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" value="{{EmpModel.email}}" placeholder="abcd@gmail.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1" >Enter Mobile Number</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" name="mobile" value="{{EmpModel.mobile}}" placeholder="1234567809">
  </div>
  <input type="submit" value="Save"/>
</form>
{% endblock content %}