{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="m-2">
    <a href="{% url 'insertEmp' %}">Create new Employee</a>
</div>
<table class="table m-2">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Mobile</th>
      </tr>
    </thead>
    <tbody>
    {% for result in data %}
    <tr>
    <td>{{result.e_id}}</td>
    <td>{{result.empname}}</td>
    <td>{{result.email}}</td>
    <td>{{result.mobile}}</td>
    <td><a href="editEmp/{{result.e_id}}">Edit</a></td>
    <td><a href=""/>Delete</td>
    </tr>
    {% endfor %}
    </tbody> 
  </table>
{% endblock content %}