{% extends "base.html" %}
{% load static %}
{% block content %}

        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>Welcome to PharEase!</h1>
                        <p>Welcome back, {{request.user}}</p>
                    </div>
                    <div class='card-body'>
                       <div class="box d-flex justify-content-center flex-column align-items-center" data-tilt>No of Employees<h1>{{emp_count}}</h1></div>
                       <div class="box d-flex justify-content-center flex-column align-items-center" data-tilt>No of Distributors<h1>{{dist_count}}</h1></div>
                       <div class="box" data-tilt>3</div>
                       <div class="box" data-tilt>4</div>
                       <div class="box" data-tilt>1</div>
                       <div class="box" data-tilt>2</div>
                       <div class="box" data-tilt>3</div>
                       <div class="box" data-tilt>4</div>
                       <div class="box" data-tilt>1</div>
                       <div class="box" data-tilt>2</div>
                       <div class="box" data-tilt>3</div>
                       <div class="box" data-tilt>4</div>
                       <div class="box" data-tilt>1</div>
                       <div class="box" data-tilt>2</div>
                       <div class="box" data-tilt>3</div>
                       <div class="box" data-tilt>4</div>
                    </div>
                </div>
            </div>
           
        </div>
       
 
{% endblock content %}