{% extends "base.html" %}
{% load static %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email Address</th>
        <th scope="col">Mobile</th>
      </tr>
    </thead>
    <tbody>
    {% for result in data  %}
    <tr>
    <td>{{result.e_id}}</td>
    <td>{{result.empname}}</td>
    <td>{{result.email}}</td>
    <td>{{result.mobile}}</td>
    </tr>
    {% endfor %}
    </tbody> 
  </table>
{% endblock content %}