{% extends "base.html" %}
{% block add %}
<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" >
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js " defer ></script>
<script>
    $(document).ready(function () {
$('#table_db').DataTable();
});
</script>
  {% endblock add %}
{% load static %}
{% block content %}
<a href="{% url 'bill' %}" onclick="newId();" >Back</a>
  {% if messages %}
    {% for mess in messages %}
    <div class=" m-2 alert alert-{{mess.tags}} alert-dismissible fade show" id="alert" role="alert">
      <b >{{mess}}</b>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

<form action="" method="post" id="form1"  onsubmit="retain()">
  {% csrf_token %}
  <input type="number" name="sale_id" id="sale_id"  placeholder="sale_id"  readonly>
<input type="text" name="cname" id="cname" placeholder="Enter Customer Name" value="{{saverecord.cname}}" >
<input type="number" name="phone_no" id="pno" placeholder="9998887771" value="{{saverecord.phone_no}}">
<input type="number" name="age" id="age" placeholder="20" value="{{saverecord.age}}"> <br/>
<button type="button" class="btn btn-primary p-1 m-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Select medicine</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Medicine</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="dist_id1">Select Medicine :</label>
      </div>
      <select name="drg_id" id="drg_id" class="custom-select" >
          {% for res  in  data %}
          <option value="{{res.dg_id}}">{{res.dgname}}</option>
          {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1" >Quantity</label>
      <input type="number" class="form-control" id="stock" name="stock" placeholder="12 etc">
    </div>   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit"class="btn btn-primary" form="form1" value="submit">Save</button>
      </div>
    </div>
  </div>
</div>
</form>
<table id="table_db" class="table table-bordered table-hover" style="width: 100%">
  <thead>
    <tr>
      <th>Med id</th>
      <th>Medicine Name</th>
      <th>Price per Quantity</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    {% for i,med in zp %}
    <tr>
 <td>{{i.dg_id}}</td>
 <td>{{i.dgname}}</td>
 <td>{{i.price}}</td>
 <td>{{med}}</td>
</tr>
  {% endfor %} 
  </tbody>
</table>
<p>Total ammount : {{saverecord.amt}}<p>
 
{% endblock content %}