{% extends "base.html" %}
{% block add %}
<script src="https://code.jquery.com/jquery-3.5.1.js" ></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" >
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js " defer ></script>
<script>
    $(document).ready(function () {
$('#table_db').DataTable();
});
</script>
  {% endblock add %}
{% load static %}
{% block content %}
<div class="m-2">
    <a href="{% url 'register' %}" class="btn btn-secondary">Create new User</a>
</div>
<table id="table_db" class="table table-bordered table-hover" style="width: 100%">
    <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">UserName</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Email</th>
          <th scope="col">Last logged in</th>

          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for result in data %}
      <tr>
      <td>{{result.id}}</td>
      <td>{{result.username}}</td>
      <td>{{result.users.emp_id}}</td>
      <td>{{result.email}}</td>
      <td>{{result.last_login}}</td>

      <td><a href="editEmp/{{result.username}}"><i class="fa-solid fa-pen-to-square"></i></a></td>
      <td><a href="/del_user/{{result.username}}" onclick="return confirm('Are you sure you want to delete?')"><i class="fa-solid fa-trash"></i></a></td>
      </tr>
      {% endfor %}
      </tbody> 
  </table>
{% endblock content %}